body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: #3882f6;
    padding: 5px 20px;
    border-radius: 8px;
}

/* header section */

.header {
    padding: 16px 140px;
    background-color: #1f2937;
}

.header-top,
.header-bottom {
    display: flex;
    justify-content: space-between;
    gap:24px;
}

.header-top {
    margin-bottom: 50px;
}

.links {
    display: flex;
    gap: 24px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.left .title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

a,
button,
.subtext,
.image {
    font-size: 18px;
    color: #e5e7eb
}

.image {
    background-color: #737f9b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    flex: auto;
    flex-wrap: wrap;
    padding: 10px;
}

.header-bottom .left {
    flex: auto;
    flex-shrink: 5;
}
/* .header-bottom .left {
    display: flex;
    flex-direction: column;
} */

/* info section */

.info .title {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-top: 35px;
    margin-bottom: 35px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    align-items: center;
    width: 100px;
}

.box-image {
    width: 100px;
    height: 100px;
    border: 3px #3882f6 solid;
    border-radius: 15px;
}

.box-subtext {
    font-size: 13px;
    color: #404141;
    text-align: center;
}

/* quote */

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.quote-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 700px;
}

.quote-text {
    color: #1f2937;
    font-size: 32px;
    font-style: italic;
    font-weight: lighter;
    margin-top: 50px;
}

.quote-author {
    font-size: 22px;
    font-weight: bold;
    align-self: flex-end;
    margin-bottom: 50px;
}